<p id="notice"> </p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Street address</th>
      <th>City</th>
      <th>Country code</th>
      <th>Bed count</th>
      <th>Bedroom count</th>
      <th>Bathroom count</th>
      <th>Description</th>
      <th>Night fee cents</th>
      <th>Cleaning fee cents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= listing.street_address %></td>
        <td><%= listing.city %></td>
        <td><%= listing.country_code %></td>
        <td><%= listing.bed_count %></td>
        <td><%= listing.bedroom_count %></td>
        <td><%= listing.bathroom_count %></td>
        <td><%= listing.description %></td>
        <td><%= listing.night_fee.format %></td>
        <td><%= listing.cleaning_fee.format %></td>
        <td>
        <a href="<%= edit_listing_path(listing) %>" class='btn btn-danger'>Edit</a>
        </td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_listing_path %>" class='btn btn-primary'>New Listing</a>
<a href="<%= new_user_session_path %>" class='btn btn-primary'>Login</a>
<a href="<%= destroy_user_session_path(method: :delete) %>" class='btn btn-primary'>Logout</a>

<%
=begin
<%= link_to 'New Listing', new_listing_path %>
<%= link_to('Login', new_user_session_path) %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
%>
=end 